<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /M1-MDS-2425-API/

    # If the request is for an existing file or directory, serve it directly
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Otherwise, route the request to index.php
    RewriteRule ^ index.php [QSA,L]
</IfModule>
